.stats-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 18px;
}
.stat-number {
    font-size: 36px;
    font-weight: 500;
    margin: 10px 0;
}
.stat-no{
    font-size: 12px;
    font-weight: 400;
    margin-left:100px ;
}
.h3{
    font-size: 18px;
    font-weight: 500;
}
.stat-card-casualLeave {
    padding: 9px; 
    border-radius: 10px;
    background: #FFEFE7;
    width: 192px;
    height: 128px;
    
}

.stat-card-emergencyLeave {
    padding: 9px;
    border-radius: 10px;
    background: #FDEBF9;
    width: 192px;
    height: 128px;
}
.stat-card-totalLeaveJan {
    padding: 9px;
    border-radius: 10px;
    background: #E8F0FB;
    width: 192px;
    height: 128px;
}
.stat-card-todayLeave {
    padding: 9px;
    border-radius: 10px;
    background: #FDEBF9;
    width: 192px;
    height: 128px;
}

@media (max-width: 768px) {
    .stats-container {
    flex-direction: column;
    }
    .stat-card-casualLeave, .stat-card-emergencyLeave , .stat-card-totalLeaveJan , .stat-card-todayLeave{
        width: 330px;
    }
    .stat-no{
        margin-left:230px ;
        margin-bottom: 6px;
    }
  }